<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Puppy</title>
  </head>
  <body>
    <h1>New Puppy</h1>

      <p>Puppy Name: <br /><%= @added_puppy.name %></p>
      <p>Puppy Breed: <br /><%= @added_puppy.breed %></p>
      <p>Puppy Age: <br /><%= @added_puppy.age %></p>

  </body>
</html>
